.btnPurple {
  background-color: #7126b5;
  border-radius: 12px;
  border-color: #7126b5;
  height: 48px;
}

.btnCategories {
  color: black;
  background-color: #e2d4f0;
  border-radius: 12px;
  border-color: #e2d4f0;
  height: 48px;
}

.iconImg {
  padding-right: 0px;
  padding-bottom: 0px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
  background: #eeeeee;
  border-radius: 16px;
}

.shadowBox {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.textShadowBox {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.ModalKotakTawar {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;

  height: 48px;

  background: #ffffff;
  /* Neutral/02 */

  border: 1px solid #d0d0d0;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
